<app-custom-modal #confirm_modal *ngIf="isJobDeleteClicked" (closeModal)="isJobDeleteClicked = false">
    <app-confirmation  [title]="'Delete Job'" [description]="'Are you sure you want to delete this job??'" [confirmText]="'Yes Delete'" (close)="confirm_modal?.closeModal()" (confirm)="confirm_modal?.closeModal();deleteJob()"> </app-confirmation>
</app-custom-modal>
<app-custom-modal #confirm_modal *ngIf="isJobViewWClicked" (closeModal)="isJobViewWClicked = false">
    <app-view-job  *ngIf="job" [job]="job"  (close)="confirm_modal?.closeModal()"> </app-view-job>
</app-custom-modal>
<div *ngIf="isJobViewWClicked || isJobDeleteClicked" class="overlay-layer" (click)="isJobViewWClicked = false;isJobDeleteClicked = false"></div>

<div class="container">
    <img class="job-img" height="140" width="140" src="assets/images/placeholder_img.png" alt="">
    <!-- TODO: trash and eye icon is not the correct one, when finishing the task, will looking for it -->
    <img class="trash" height="28" width="24"  src="assets/images/trash.svg" alt="delete job" (click)="isJobDeleteClicked = true;$event.stopPropagation() ">
    <img class="eye"  height="24" width="24" src="assets/images/eye.svg" alt="view job"  (click)="isJobViewWClicked = true;$event.stopPropagation() ">

    <div *ngIf="job" class="data-container">
        <div class="title">
            <strong>{{job.title}}</strong> 
        </div>
        <div class="location">
            {{job.city}}, {{job.country}}
        </div>
        <div>
            {{job.sector}}
        </div>
        <div class="description">
            {{job.description}}
        </div>
    </div>
</div>