.filter {
    width: 400px;
    max-width: 70vw;
    margin-right: 24px;
    height: calc(100vh - 4rem);
    border: 1px solid rgb(90,131,168);
    border-radius: 4px;
    padding: 1rem;
    overflow-y: auto;
    .title{
      font-size: 20px;
      font-weight: bold;
      margin-top: 8px;
    }
    input{
      margin-bottom: 8px;
    }
    input,label{
      cursor: pointer;
    }
    @media screen and(max-width:1400px) {
        width: 300px;
    }
    @media screen and(max-width:991px) {
        position: fixed;
        left: -120vw;
        z-index: 2;
        top: 0;
        background-color: white;
        transition: left .35s;
        &.opened{
          left: 0;
        }
    }
  }