<div class="filter" [class.opened]="opened" (click)="$event.stopPropagation()">
  <form>

    <div class="title">Sector</div>
    <div *ngFor="let sector of sectors ; let index = index">
      <label [for]="sector"
        ><input type="checkbox" [id]="sector" [name]="sector" [value]="sector" #current 
        (change)="onSectorsChange(current.checked, index)"  [checked]="selectedData.sectors[index]"  />
        {{ sector }} 
      </label>
    </div>

    <div class="title">Country</div>
    <div *ngFor="let country of countries ; let index = index">
      <label [for]="country"> 
        <input type="checkbox" [id]="country" [name]="country" [value]="country"
         #current (change)="onCountriesChange(current.checked, index)" [checked]="selectedData.countries[index]"/>
        {{ country }}
      </label>
    </div>

    <div class="title">City</div>
    <div *ngFor="let city of citiesList; let index = index">
      <label [for]="city"><input type="checkbox" [id]="city" [name]="city"
          [value]="city" #current (change)="onCitiesChange(current.checked, index)" [checked]="selectedData.cities[index]"/>
        {{city}}
      </label>
    </div>
  </form>
</div>
