.data-container {
    padding: 1rem;
    width: calc(100vw - 64px);
    max-width: 500px;
    overflow-y: auto;
    max-height: 95vh;
    position: relative;
    .close{
        position: absolute;
        right: .5rem;
        top: .5rem;
        cursor: pointer;
    }
    .key{
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
        &:first-child{
            margin-bottom: 1rem;
        }
        font-weight: bold;
        display: inline-block;
    }
    @media screen and (max-width: 360px) {
        padding-top: 2rem;
    }
    .title {
      font-size: 1.25rem;
      width: 100%;
      text-align: center;
    }

    .title,
    .description {
        white-space: break-spaces;
      height: fit-content;
    }
    .description {
      font-size: 0.875rem;
      color: #a2a2a2;
      margin-top: 8px;
      margin-bottom: 1.5rem;
      border: 1px solid #a2a2a2;
      border-radius: 4px;
      padding: 1rem;
    }
    .title,
    .location {
      margin-bottom: 1rem;
    }
  }