<div *ngIf="job" class="data-container">
    <img class="close" height="24" width="24"  src="assets/images/close.svg" alt="delete job" (click)="cancel()">

    <div  class="title">
        <strong >{{job.title}}</strong> 
    </div>
    <div>
       <div class="key">Location:</div> <span class="location"> {{job.city}}, {{job.country}}</span>
    </div>
    <div>
       <div class="key">Sector:</div> {{job.sector}}
    </div>
    <div class="description">
        {{job.description}}
    </div>
</div>