<app-custom-modal #add_modal *ngIf="isCreateModalOpened" (closeModal)="isCreateModalOpened = false">
  <app-add-job-modal (close)="add_modal?.closeModal()"> </app-add-job-modal>
</app-custom-modal>
<div class="container">
    <div class="actions-container mb-24px">
        <input placeholder="Search By Job Title" class="search-field" [formControl]="filterControl">
        <div class="filter-mobile-container">
            <button class="filter-mobile" (click)="toggleFilter($event)">
                <img   height="24px" width="24px" src="assets/images/filter.svg" alt="view job">
            </button>
            <button class="add-new" (click)="isCreateModalOpened = true;$event.stopPropagation()">Add New Job</button>
        </div>
    </div>
    <button class="filter-tablet" (click)="toggleFilter($event)">
        <img  height="24px" width="24px" src="assets/images/filter.svg" alt="view job">
    </button>
    <div>
        <app-custom-pagination [pageSize]="pageLength" [itemsLength]="jobs.length"></app-custom-pagination>
        <app-job-card *ngFor="let job of filteredJobs| slice:(!!term?0:(pageNumber - 1) * pageLength):(!!term?filteredJobs.length:pageNumber * pageLength)" [job]="job"></app-job-card>
    </div>
</div>