/* 
@author Haytham
gap not working on ios, so we use margin
*/
$gray: #a5a5a5;

.container {
  background-color: #f7f7f7;
  padding: 1rem;
  @media screen and (max-width:550px) {
    padding: 0.4rem;
  }
  box-sizing: border-box;
  .mb-24px {
    margin-bottom: 24px;
  }
  .actions-container {
    display: flex;

    .search-field {
      width: calc(100% - 165px);
      height: 40px;
      box-sizing: border-box;
      margin: 0 1.5rem 0 0;
      border: 1px solid $gray;
      padding-left: 16px;
      &::placeholder {
        font-weight: 500;
        font-size: 1rem;
        color: #7f7f7f;
      }
    }

    .add-new {
      width: 140px;
      height: 40px;
      border-radius: 4px;
      background-color: #2196f3;
      color: white;
      text-align: center;
      outline: none;
      border: none;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
    }

    .filter-mobile-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .filter-mobile {
        display: none;
      }
    }


    @media screen and(max-width:991px) {
      width: min(1400px, 90vw);
      .search-field {
        width: calc(100vw - 232px);
      }
    }
    @media screen and(max-width:550px) {
      flex-direction: column;
      align-items: flex-end;
      .search-field {
        width: 100%;
        max-width: unset;
        margin: 0 0 16px 0;
      }
      .filter-mobile-container {
        width: 100%;
        .filter-mobile {
          display: inline-block;
        }
      }
    }
  }
  .filter-tablet {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;
    @media screen and (max-width:550px),(min-width:992px) {
      display: none;
    }
  }
  .filter-tablet,.filter-mobile{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .empty-state{
    text-align: center;
    width: 100%;
    font-weight: bold;
    padding: 2rem 0 ;
  }
}
