.data-container {
  width: 100%;
  display: flex;
  .overlay-layer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    top: 0;
    background-color: rgba(255, 255, 255, 0.616);
    opacity: 0;
    animation: opacity-animation .55s forwards;
  }
  @keyframes opacity-animation {
    to{
      opacity: 70%;
    }
  }
  app-jobs-view{
    @media screen and(min-width:992px) { 
      width: calc(100% - 300px);
    }
  }
}