.data-container{
    width: 100%;
    display: flex;
    .filter{
        width: 300px;
        min-width: 300px;
        margin-right: 24px;
        height: 100px;
        background-color: red;
        color: white;
        display: flex;
        font-size: 48px;
        justify-content: center;
        align-items: center;
        @media screen and(max-width:991px) {
            display: none;
        }
    }

}